.App {
  background:url(
"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwwtQ9ZXjaIM0g3YCsD1kMrhCkAFkCXSOKidhcAbMFw2qQSSANIAVYrYYpQDcVq4kkWU3Q10RbTSjcAYeoJwudlydRAAAAAElFTkSuQmCC"
   ) repeat;
}

.StandupWrapper {
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

ul {
  width: 60%;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: aliceblue;
  padding: 20px 80px;
  border-radius: 40px;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 0.7em;
}

input[type="text"] {
  padding: 20px;
  border-radius: 40px;
  outline: none;
  font-size: 0.3em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 0.7em;
}

form {
  cursor: initial;
  display: flex;
  justify-content: center;
}

.BtnGroup {
  margin-top: 10px;
  display: flex;
  width: 70%;
}

.PrimaryButton {
  margin: 5px;
  width: 60%;
  padding: 20px;
  background-color: hotpink;
  cursor: pointer;
  color: #151111;
  font-weight: 700;
  border-radius: 40px;
  font-size: 0.7em;
  outline: none;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.PrimaryButton.selected {
  box-shadow: inset 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  background-color: deeppink;
}

.SecondaryButton {
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  color: #151111;
  font-weight: 400;
  border-radius: 40px;
  font-size: 0.5em;
  outline: none;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.Member {
  display: flex;
  justify-content: space-between;
}

.Member::after {
  content: "🗣";
}

.MemberDone {
  opacity: 0.7;
}

.MemberDone::after {
  content: "✅";
}

.MemberDone > .MemberName {
  text-decoration: line-through;
}

.Member > .DeleteEmoji .DeleteEmoji::hover {
  content: "❌";
}

/* PIZZA */

.pizzaWrapper {
  top: 30%;
  position: relative;
}

.loadingText {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: 0.7em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-transform: uppercase;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  max-width: 320px;
}

.spinner {
  width: 320px;
  height: 320px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  animation: spin 4s linear infinite;
}

.pizza-part {
  width: 160px;
  height: 160px;
}

.pizza-part-1 {
  animation: pizza1 4s ease-in-out infinite;
}

.pizza-part-2 {
  animation: pizza2 4s ease-in-out infinite;
}

.pizza-part-3 {
  animation: pizza4 4s ease-in-out infinite;
}

.pizza-part-4 {
  animation: pizza3 4s ease-in-out infinite;
}

/* animations */
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pizza1 {
  0% {
    transform: translate(-20%, -20%);
    opacity: 0;
  }
  10% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  60% {
    transform: translate(-20%, -20%);
    opacity: 0;
  }
  100% {
    transform: translate(-20%, -20%);
    opacity: 0;
  }
}

@keyframes pizza2 {
  0% {
    transform: translate(20%, -20%) rotateZ(90deg);
    opacity: 0;
  }
  10% {
    transform: translate(20%, -20%) rotateZ(90deg);
    opacity: 0;
  }
  20% {
    transform: translate(0%, 0%) rotateZ(90deg);
    opacity: 1;
  }
  60% {
    transform: translate(0%, 0%) rotateZ(90deg);
    opacity: 1;
  }
  70% {
    transform: translate(20%, -20%) rotateZ(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(20%, -20%) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes pizza3 {
  0% {
    transform: translate(20%, 20%) rotateZ(180deg);
    opacity: 0;
  }
  20% {
    transform: translate(20%, 20%) rotateZ(180deg);
    opacity: 0;
  }
  30% {
    transform: translate(0%, 0%) rotateZ(180deg);
    opacity: 1;
  }
  70% {
    transform: translate(0%, 0%) rotateZ(180deg);
    opacity: 1;
  }
  80% {
    transform: translate(20%, 20%) rotateZ(180deg);
    opacity: 0;
  }
  100% {
    transform: translate(20%, 20%) rotateZ(180deg);
    opacity: 0;
  }
}

@keyframes pizza4 {
  0% {
    transform: translate(-20%, 20%) rotateZ(270deg);
    opacity: 0;
  }
  30% {
    transform: translate(-20%, 20%) rotateZ(270deg);
    opacity: 0;
  }
  40% {
    transform: translate(0%, 0%) rotateZ(270deg);
    opacity: 1;
  }
  80% {
    transform: translate(0%, 0%) rotateZ(270deg);
    opacity: 1;
  }
  90% {
    transform: translate(-20%, 20%) rotateZ(270deg);
    opacity: 0;
  }
  100% {
    transform: translate(-20%, 20%) rotateZ(270deg);
    opacity: 0;
  }
}

