.App {
  background:url(
"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwwtQ9ZXjaIM0g3YCsD1kMrhCkAFkCXSOKidhcAbMFw2qQSSANIAVYrYYpQDcVq4kkWU3Q10RbTSjcAYeoJwudlydRAAAAAElFTkSuQmCC"
   ) repeat;
}

.StandupWrapper {
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

ul {
  width: 60%;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: aliceblue;
  padding: 20px 80px;
  border-radius: 40px;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
}

li {
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.7em;
}

input[type="text"] {
  padding: 20px;
  font-size: 0.3em;
}

form {
  cursor: initial;
  display: flex;
  justify-content: center;
}

.BtnGroup {
  margin-top: 20px;
  display: flex;
  width: 70%;
}

.PrimaryButton {
  margin: 5px;
  width: 60%;
  padding: 20px;
  background-color: hotpink;
  cursor: pointer;
  color: #151111;
  font-weight: 700;
  border-radius: 40px;
  font-size: 0.7em;
  outline: none;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.PrimaryButton.selected {
  box-shadow: inset 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  background-color: deeppink;
}

.SecondaryButton {
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  color: #151111;
  font-weight: 400;
  border-radius: 40px;
  font-size: 0.3em;
  outline: none;
  box-shadow: 5px 5px 2.5px 0px rgb(0 0 0 / 75%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.Member {
  display: flex;
  justify-content: space-between;
}

.Member::after {
  content: "🗣";
}

.MemberDone {
  opacity: 0.7;
}

.MemberDone::after {
  content: "✅";
}

.MemberDone > .MemberName {
  text-decoration: line-through;
}

.Member > .DeleteEmoji .DeleteEmoji::hover {
  content: "❌";
}
